<% layout('layout') -%>
<section class="recipes-page spad">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="section-title">
          <h2>Latest recipes</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="recipe-view">
          <i class="fa fa-bars"></i>
          <i class="fa fa-th active"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/1.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Traditional Pizza</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/2.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Italian home-made pasta</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/3.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Chesse Cake Tart</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/4.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Traditional Pizza</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/5.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Italian home-made pasta</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <a href="/recipes/recipe/6">
            <img src="/img/recipes/6.jpg" alt="">
          </a>

          <div class="recipe-info-warp">
            <div class="recipe-info">

              <h3>Lamb Chops with green peper sauce</h3>

              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/7.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Traditional Pizza</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/8.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Italian home-made pasta</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/9.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Chesse Cake Tart</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/10.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Traditional Pizza</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/11.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Italian home-made pasta</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="recipe">
          <img src="/img/recipes/12.jpg" alt="">
          <div class="recipe-info-warp">
            <div class="recipe-info">
              <h3>Chesse Cake Tart</h3>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-pagination">
      <span>01</span>
      <a href="#">02</a>
      <a href="#">03</a>
    </div>
  </div>
</section>